<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wind Turbine of SCADA</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- My Style -->
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="navbar">
      <a href="#" class="navbar-logo">
        <img src="/static/img/logo-orbit.jpg" alt="logo-orbit" />
        <span>WIND TURBINE of SCADA</span></a
      >

      <div class="navbar-nav">
        <a href="#home">Home</a>
        <a href="#about">Tentang Kami</a>
        <a href="#dashboard">Dashboard</a>
      </div>

      <div class="navbar-extra">
        <a href="#" id="hamburger-menu"> <i data-feather="menu"></i></a>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Hero Section Start -->
    <section class="hero" id="home">
      <main class="content">
        <h1>
          OptiSCADA:
          <span>
            Optimization of wind turbine operations using wind turbine
            SCADA</span
          >
        </h1>
        <p>Artemis Grove</p>
      </main>
    </section>

    <!-- Hero Section End -->

    <!-- About Section Start -->
    <section id="about" class="about">
      <h2><span>Tentang</span> Kami</h2>

      <div class="row">
        <div class="about-img">
          <img src="/static/img/Tentang-kami.png" alt="Tentang Kami" />
        </div>
        <div class="content">
          <h3>Apa tujuan mengambil tema wind turbine of SCADA?</h3>
          <p>
            Tujuan utama proyek ini adalah untuk mengembangkan model prediksi
            yang mampu meramalkan daya aktif (LV ActivePower) yang akan
            dihasilkan oleh turbin angin berdasarkan data SCADA yang tersedia.
            Dengan prediksi yang akurat, operator turbin angin dapat
            mengoptimalkan operasi dan perawatan, menghindari pemadaman yang
            tidak terduga, dan meningkatkan efisiensi energi.
          </p>
          <h3>Apa itu Wind Turbine?</h3>
          <p>
            Wind turbine adalah perangkat yang menggunakan energi angin untuk
            menghasilkan listrik. Dengan menggunakan baling-baling yang dipasang
            pada rotor, wind turbine menangkap energi kinetik dari angin. Ketika
            baling-baling berputar, rotor bergerak, dan gerakan ini kemudian
            diubah menjadi energi listrik melalui generator. Tower mendukung
            baling-baling dan rotor di ketinggian tertentu untuk menangkap angin
            dengan lebih efisien. Wind turbine merupakan sumber energi
            terbarukan yang ramah lingkungan dan telah menjadi komponen penting
            dalam upaya global untuk mengurangi emisi gas rumah kaca dan
            ketergantungan pada bahan bakar fosil.
          </p>
          <h3>Apa itu SCADA?</h3>
          <p>
            Sistem SCADA (Supervisory Control and Data Acquisition) adalah
            sistem kontrol dan akuisisi data yang digunakan untuk memonitor dan
            mengendalikan proses industri secara keseluruhan. Ini mencakup
            sejumlah besar peralatan dan aplikasi di berbagai industri, seperti
            energi, manufaktur, air, dan lainnya. Sistem SCADA membantu
            meningkatkan efisiensi operasional, mengoptimalkan proses produksi,
            dan meningkatkan keandalan sistem secara keseluruhan. Dengan
            kemampuannya untuk mengintegrasikan berbagai perangkat dan sistem,
            SCADA menjadi bagian krusial dalam industri otomasi dan kontrol.
          </p>
        </div>
      </div>
    </section>
    <!-- About Section End -s->

    <!-- Dashboard Section Start -->
    <section id="dashboard" class="dashboard">
      <h2><span>OptiSCADA</span> Dashboard</h2>

      <div class="row">
        <div class="dashboard-img">
          <img src="/static/img/img-01.jpg" alt="Dashboard" />
          <img src="/static/img/img-02.jpg" alt="Dashboard" />
          <img src="/static/img/img-03.jpg" alt="Dashboard" />
          <img src="/static/img/img-04.jpg" alt="Dashboard" />
        </div>
        <div class="content">
          <h5>
            Grafik disamping merupakan visualisasi dari data Daya Aktif vs
            Kecepatan Angin Sebelum dilatih. Pada grafik tersebut menunjukkan
            bahwa ...
          </h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ex
            ullam ipsam quas laudantium dicta ad! Beatae, neque. Omnis
            repudiandae velit quis aliquam itaque assumenda, aliquid dolorem
            perferendis numquam ad.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
            voluptates iste ex veniam ut illo nemo deserunt recusandae, hic
            eaque, soluta quas earum sequi aliquid assumenda possimus! Sapiente,
            nam ad!
          </p>
        </div>
      </div>
    </section>

    <!-- Dashboard Section End-->

    <!-- Footer Section Start -->
    <footer>
      <div class="links">
        <a href="#home">Home</a>
        <a href="#about">Tentang Kami</a>
        <a href="#dashboard">Dashboard</a>
      </div>

      <div class="credit">
        <p>Created by <span>Artemis Grove</span> | &copy; 2023.</p>
      </div>
    </footer>

    <!-- Footer Section End -->
    <!-- Feather Icons -->
    <script>
      feather.replace();
    </script>

    <!-- My Javascript -->
    <script src="/static/js/script.js"></script>
  </body>
</html>
